@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	display: flex;
	margin: initial;
}


#droite , #gauche
{
	display: block;
}

h1
{
	font-size: 45px
}

#sous_titre
{
	margin-top: -30px;
}

strong
{
	color: #FECA07;
}

#barret3
{
    height: 2px;
    width: 50px;
    background-color: #FECA07;
    margin-top: -20px;
    margin-bottom: 75px;
}




/* Côté gauche */

#gauche
{
	background-color: #FECA07;
	width:35%;
	margin-right: 3%;
	min-width: 300px;
	max-width: 300px;
	margin-left: 25%;
}

#gauche h2
{
	box-shadow: 2px black;
    background-color: black;
    color: #FECA07;
    text-align: center;
}

#contact
{
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 15%;
	margin-bottom: 15%;
}

#a_propos
{
	padding-bottom: 150%;
	margin-left: 5%;
	margin-right:5%; 
	font-size: 21px;
	margin-top: 15%;
}

#loisirs 
{
	justify-content: center;
	display: flex;
}

div.icones_loisirs {
    margin-right: 25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid black;
}

#loisirs i {
    margin-left: 5px;
    margin-top: 6px;
    display: block;
	font-size: 25px;
}

/* Côté Droite*/

#droite
{
	margin-right: 20%;
	background-color: white;
}

#droite h4
{
	margin-bottom: 25px;
}

div.date i
{
	position: absolute;
	margin-left: -40px;
	margin-top: 30px;
	margin-right: 30px;
}

div.description p, div.description h4
{
	margin-top: -15px;
}

div.ligne
{
	display: flex;
	margin-right: 15%;
}

div.date
{
	max-width: 175px;
	min-width: 175px;
	margin-right: 50px; 
	margin-left: 50px
}

div.date p
{
	margin-top: -20px;
}

div.recommandation
{
	display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
}

div.barres
{	

	height: 1px;
	width: 100%;
	background-color: #FECA07;
}

div.ligne_recommandation
{
	min-width: 175px; 
	margin: auto;
	text-align: center;
}


#droite i
{
	margin-right: 25px;
	color: #FECA07;
}


#photo_profil img
{
    width: 105%;

}

#photo_profil
{
    width: 135px;
    height: 135px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
    border:5px solid #DAAF12; 
    margin-bottom: 15%;
    margin-top:15%; 
}