@font-face 
{
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
	display: block;
}

#barret3
{
	display: none;
}

#gauche
{
    width: 100%;
    max-width: none;
    margin-left: 0%;

}

#a_propos
{
    padding-bottom: 0%;
}

#gauche p
{
    text-align: center;
    font-size: 20px;
}

#droite
{
	background-color: white;
    width: 100%;
    text-align: center;
}

section.catégorie h3, h4, p
{
    text-align: left;
}

#droite h2
{
    margin-top: 50px;
}

#droite p
{
    font-size: 20px;
}

#droite h4
{
    font-size: 22px;
}

#droite h3
{
    font-size: 24px;
}

div.date i
{
	display: none;
}

div.date
{
    width: 30%;
    margin: auto;
}

div.description 
{
    width: 70%;
    margin-right: auto;
}

div.ligne
{
    width: 100%;
    justify-content: center;
}

div.ligne_recommandation
{
    width: 100%;
    text-align: center;
}

div.ligne_recommandation span
{
    font-size: 20px;
}




/* Photos de profil */

#photo_profil
{
    width: 400px;
    height: 400px;
}
